<html>

<head>
  <link rel="stylesheet" href="static/Timetable.css">
</head>
<H1>My Timetable</H1>
<hr>
<TABLE class="myTimetable"> 
  <THEAD>
    <TR>
      <TH></TH>
      <TH>Monday</TH>
      <TH>Tuesday</TH>
      <TH>Wednesday</TH>
      <TH>Thursday</TH>
      <TH>Friday</TH>
      <TH>Saturday</TH>	  
    </TR>
  </THEAD>
  <TBODY>
    <TR>
      <TD>P1</TD>
      <TD>
        <div class="subject">DBMS</div>
        <div class="room">C120</div>
      </TD>
      <TD>
        <div class="subject">AI</div>
        <div class="room">C119</div>
      </TD>
      <TD>        
        <div class="subject">DS</div>
        <div class="room">C225</div>
      </TD>
      <TD>        
        <div class="subject">EP</div>
        <div class="room">C118</div>
      </TD>
       <TD>        
         <div class="subject">AI</div>
        <div class="room">C101</div>
      </TD>
      <TD>        
         <div class="subject">DBMS</div>
        <div class="room">C120</div>
      </TD>	  
    </TR>
    <TR>
      <TD>P2</TD>
      <TD>        
        <div class="subject">AI</div>
        <div class="room">C119</div>
      </TD>
      <TD>        
        <div class="subject">EP</div>
        <div class="room">C225</div>
      </TD>
      <TD>        
        <div class="subject">DBMS</div>
        <div class="room">C120</div>
      </TD>
      <TD>        
        <div class="subject">AI</div>
        <div class="room">C119</div>
      </TD>
      <TD>        
        <div class="subject">EP</div>
        <div class="room">C120</div>
      </TD>
	  <TD>        
        <div class="subject">DS</div>
        <div class="room">C225</div>
      </TD>
    </TR>
      <TR>
      <TD colspan="7" class="break">Break</TD>
      </TR>
      <TR>
      <TD>P3</TD>
      <TD>        
        <div class="subject">EP</div>
        <div class="room">C118</div>
      </TD>
      <TD>        
        <div class="subject">DS</div>
        <div class="room">C225</div>
      </TD>
      <TD>        
        <div class="subject">AI</div>
        <div class="room">C119</div>
      </TD>
      <TD>        
        <div class="subject">DBMS</div>
        <div class="room">C120</div>
      </TD>
      <TD>        
        <div class="subject">DS</div>
        <div class="room">C225</div>
      </TD>
	  <TD>        
        <div class="subject">AI</div>
        <div class="room">C119</div>
      </TD>
    </TR>
      <TR>
      <TD colspan="7" class="lunch">Lunch</TD>
    </TR>
      <TR>
      <TD>P4</TD>
      <TD>        
        <div class="subject">DS</div>
        <div class="room">C225</div>
      </TD>
      <TD>        
        <div class="subject">EP</div>
        <div class="room">C118</div>
      </TD>
      <TD>        
        <div class="subject">DBMS</div>
        <div class="room">C120</div>
      </TD>
      <TD>        
        <div class="subject">AI</div>
        <div class="room">C119</div>
      </TD>
      <TD>        
        <div class="subject">EP</div>
        <div class="room">C118</div>
      </TD>
	  <TD>        
        <div class="subject">--</div>
        <div class="room">--</div>
      </TD>
    </TR>
      <TR>
      <TD>P5</TD>
      <TD>
        <div class="subject">DBMS</div>
        <div class="room">C120</div>
      </TD>
      <TD>
        <div class="subject">AI</div>
        <div class="room">C119</div>
      </TD>
      <TD>        
        <div class="subject">DS</div>
        <div class="room">C225</div>
      </TD>
      <TD>        
        <div class="subject">EP</div>
        <div class="room">C118</div>
      </TD>
       <TD>        
        <div class="subject">AI</div>
        <div class="room">C101</div>
      </TD>
      <TD>        
        <div class="subject">DBMS</div>
        <div class="room">C120</div>
      </TD>	
    </TR>
	  <TR>
      <TD colspan="7" class="break">Break</TD>
      </TR>
	<TR>
      <TD>P6</TD>
      <TD>        
        <div class="subject">AI</div>
        <div class="room">C119</div>
      </TD>
      <TD>        
        <div class="subject">EP</div>
        <div class="room">C225</div>
      </TD>
      <TD>        
        <div class="subject">DBMS</div>
        <div class="room">C120</div>
      </TD>
      <TD>        
        <div class="subject">AI</div>
        <div class="room">C119</div>
      </TD>
      <TD>        
        <div class="subject">EP</div>
        <div class="room">C120</div>
      </TD>
	  <TD>        
        <div class="subject">--</div>
        <div class="room">--</div>
      </TD>
    </TR>  
   </TBODY>
  </TABLE>
  </html>